<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245886323867-kirtk0uum428o57rnt6net8pshhdundp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245886323867-kirtk0uum428o57rnt6net8pshhdundp</string>
	<key>API_KEY</key>
	<string>AIzaSyCezba3WiW8l90Ih8UZ6E4oMYf1UJoiV-4</string>
	<key>GCM_SENDER_ID</key>
	<string>245886323867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ghiotti.InterCorpLogin</string>
	<key>PROJECT_ID</key>
	<string>intercorplogin</string>
	<key>STORAGE_BUCKET</key>
	<string>intercorplogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245886323867:ios:488bcd5254598f83</string>
	<key>DATABASE_URL</key>
	<string>https://intercorplogin.firebaseio.com</string>
</dict>
</plist>