<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91770269937-1socthic44djp6vhmna3oja8pessfvv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91770269937-1socthic44djp6vhmna3oja8pessfvv9</string>
	<key>API_KEY</key>
	<string>AIzaSyBEGXln4x0jwDeA6ZOUqUMyKMoE4CHTUqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>91770269937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghiotti.InterCorpLogin</string>
	<key>PROJECT_ID</key>
	<string>icorptest-aacb3</string>
	<key>STORAGE_BUCKET</key>
	<string>icorptest-aacb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91770269937:ios:4e6a0305a9475d6b</string>
	<key>DATABASE_URL</key>
	<string>https://icorptest-aacb3.firebaseio.com</string>
</dict>
</plist>